<div id="fade" style="margin: 0px; padding: 0px; background-color: rgb(50, 54, 57);">
  <div class="statusBar" name="statusBar">
    <button class="statusLabels">Profile</button>
    <button class="statusLabels" *ngIf="loggedIn;else notLoggedIn">{{currentUser.firstName}}</button>
    <ng-template #notLoggedIn>
        <button class="statusLabels">Login</button>
    </ng-template>
  </div>

  <div *ngIf="mapShowing">
    <div class="container" fxLayout="column">
      <div class="map" fxFlex="1 1 100%" #map>
        <agm-map [style.height.px]="map.offsetHeight" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker
            *ngFor="let m of this.markers; let i = index"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [markerDraggable]="m.draggable"
            [markerClickable]="m.clickable"
            (markerClick)="markerClicked($event)"
            [iconUrl]="{url: m.icon, scaledSize: {
              width: 50,
              height: 60
            }}">
            <agm-info-window>
              <div style="color: black;">
                <b>{{m.label}}</b>
                <span style="text-align: left;">
                  <div *ngIf="m.hasUnisex;">
                    Unisex: {{m.unisexRate}}
                  </div>
                  <div *ngIf="m.hasMens;">
                    Men's: {{m.mensRate}}
                  </div>
                  <div *ngIf="m.hasWomens;">
                    Women's: {{m.womensRate}}
                  </div>
                  <div *ngIf="m.hasFamily;">
                    Family: {{m.familyRate}}
                  </div>
                </span>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>

    <div *ngIf="detailsShowing" name="displayedLocation" class="infoDisplayed">
      <div class = "row">
        <div class="column">
          <p><img align="left" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 5%; margin-right: 2%; background-color: white;" src = "/../assets/TPGreen.png"><p style="font-size: 150%">{{selectedLocation.name}}</p><button class="roundedLeft roundedRight reviewButton">Review</button></p>
          <h5>Address: {{address}}</h5>
        </div>
        <div class="column" style="margin-top: 2%;">
          <div *ngIf="selectedLocation.hasUnisex;">
            Unisex Bathroom Rating: {{selectedLocation.unisexRate}}/5
          </div>
          <div *ngIf="selectedLocation.hasMens;">
            Men's Bathroom Rating: {{selectedLocation.mensRate}}/5
          </div>
          <div *ngIf="selectedLocation.hasWomens;">
            Women's Bathroom Rating: {{selectedLocation.womensRate}}/5
          </div>
          <div *ngIf="selectedLocation.hasFamily;">
            Family Bathroom Rating: {{selectedLocation.familyRate}}/5
          </div>
          <div *ngIf="selectedLocation.hasBabyChanging;else noBaby">
            Baby Changing Ammentities?: Yes!
          </div>
          <ng-template #noBaby>
            <div>Baby Changing Ammentities?: No!</div>
          </ng-template>
          <div *ngIf="selectedLocation.hasBlowDryer;else noBlowDry">
            Blow Dryer?: Yes!
          </div>
          <ng-template #noBlowDry>
            <div>Blow Dryer?: No!</div>
          </ng-template>
          <div *ngIf="selectedLocation.hasPaperTowels;else noTowels">
            Paper Towels?: Yes!
          </div>
          <ng-template #noTowels>
            <div>Paper Towels?: No!</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

  <div id="titleSearch" name="titleSearch" class="mainSearch">
    <h1 *ngIf="mapShowing===false;" style="padding-top: 3%; color: white;text-shadow: 1px 1px 2px black;">Restroom Raider</h1>
    <input id="searchBar" #search type="text" class="searchBar roundedLeft roundedRight form-control" (keydown.enter)="$event.preventDefault(); showMap($event);"  name="searchBox" placeholder="Find a Bathroom Near You..."  autocorrect="off" autocapitalize="off" spellcheck="off">
  </div>



<router-outlet></router-outlet>
