<div id="fade" style="margin: 0px; padding: 0px;">
  <div class="statusBar" name="statusBar">
    <label class="statusLabels">Profile</label>
    <label class="statusLabels" *ngIf="loggedIn;else notLoggedIn">{{firstName}}</label>
    <ng-template #notLoggedIn>
        <label class="statusLabels">Login</label>
    </ng-template>
  </div>

<div *ngIf="mapShowing">
    <div class="container" fxLayout="column">
      <div class="map" fxFlex="1 1 100%" #map>
        <agm-map [style.height.px]="map.offsetHeight" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="{url: '/../assets/TPGreen.png',
            scaledSize: {
              width: 50,
              height: 60
            }}"
            [markerClickable]="true" (markerClick)="markerClicked($event)">
          </agm-marker>
        </agm-map>
      </div>
    </div>

    <h5>Address: {{address}}</h5>
    <div *ngIf="hasUnisex;">
      Unisex Bathroom Rating: {{unisexRating}}/5
    </div>
    <div *ngIf="hasMensBR;">
      Men's Bathroom Rating: {{mensRating}}/5
    </div>
    <div *ngIf="hasWomensBR;">
      Women's Bathroom Rating: {{womensRating}}/5
    </div>
    <div *ngIf="hasFamilyBR;">
      Family Bathroom Rating: {{familyRating}}/5
    </div>
    <div *ngIf="hasBabyChanging;else noBaby">
      Baby Changing Ammentities?: Yes!
    </div>
    <ng-template #noBaby>
      <div>Baby Changing Ammentities?: No!</div>
    </ng-template>
    <div *ngIf="hasBlowDryer;else noBlowDry">
      Blow Dryer?: Yes!
    </div>
    <ng-template #noBlowDry>
      <div>Blow Dryer?: No!</div>
    </ng-template>
    <div *ngIf="hasPaperTowels;else noTowels">
      Paper Towels?: Yes!
    </div>
    <ng-template #noTowels>
      <div>Paper Towels?: No!</div>
    </ng-template>
  </div>
</div>

  <div *ngIf="mapShowing===false;else mapShowingNow" name="titleSearch" class="mainSearch">
    <h1 style="padding-top: 3%; color: white;text-shadow: 1px 1px 2px black;">Restroom Raider</h1>
    <input #search type="text" class="searchBar roundedLeft roundedRight form-control" (keydown.enter)="$event.preventDefault(); showMap($event);"  name="searchBox" placeholder="Find a Bathroom Near You..."  autocorrect="off" autocapitalize="off" spellcheck="off">
  </div>
  <ng-template #mapShowingNow>
    <div name="titleSearch" class="mapSearch">
      <!--<h1 style="padding-top: 3%; color: white;text-shadow: 1px 1px 2px black;">Restroom Raider</h1>-->
      <input #search type="text" class="searchBarSmall roundedLeft roundedRight form-control" (keydown.enter)="$event.preventDefault(); showMap($event);"  name="searchBox" placeholder="Find a Bathroom Near You..."  autocorrect="off" autocapitalize="off" spellcheck="off">
    </div>
  </ng-template>



<router-outlet></router-outlet>
