
.statusBar{
  top: 0;
  right: 0;
  left: 0;
  height: 7%;
  z-index: 9998;
  background-color: rgba(45,45,45,0.95);
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  color: white;
  width: 100%;
  position: fixed;

}
.statusLabels{
  margin-right: 2%;
  margin-top: 1%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vmax;
  background-color: transparent;
  border: none;
}
.statusLabels:hover{
  color:gray;
}

.loginBoxContainer {
  width: 200px;
  z-index: 9998;
  position: fixed;
  top: 5%;
  right: 2%;

}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  top: 2px;
  right: 2%;
  position: absolute;
}

.loginBox{
  /* border-style: solid; */
  width: 80%;
  padding: 5%;
  margin: 4%;
  border-style: solid !important;
  border-color: #2D2D2D;
  border-width: .5px !important;
  text-align: left;
}
.loginButtons{
  border-style: none;
  font-size: 90%;
  margin: 2%;
  padding: 2%;
  background-color: red;
  color: white;
  text-align: center;
  width: 40%;
}
.login{
  background-color: white;
  width: 200px;
  padding: 1%;
  margin: 0%;
  top: 10px;
  right: 1px;
  z-index: 999999;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
  position: absolute;

}

.main{
  margin:0%;
  padding:0%;
  background-color:rgb(50, 54, 57);
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:100%;
}

.roundedLeft{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.roundedRight{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}





