body{
  margin: 0%;
  padding: 0%;
}

.mainSearch{
  background: url("https://i.pinimg.com/originals/f1/e3/47/f1e347b758ce5340fcc51ec933303237.jpg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.searchBar{
  background-color: #F0F0F0;
  width: 80%;
  height: 2.8vmax;
  color: black;
  font-size: 1.5vmax;
  background-image: url('../../assets/redMagnifyingGlass.png');
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: auto 2.8vmin;
  padding-left: 1.5vmax;
  padding-right: calc(2.8vmin + 1.5vmax);
}
